#drawing_panel {
	border-style:dashed;
}

.rect {
	fill: none;
	stroke-width: 1;
	stroke: #6699ff;
	pointer-events:all;
}

.circle {
	fill: none;
	stroke-width: 1;
	stroke: green;
	pointer-events:all;
}

.circle.select {
	fill: green;
}

.offcurve {
	fill: none;
	stroke-width: 1;
	stroke: gray;
	pointer-events:all;
}
.control_Seg {
	stroke:gray;
	stroke-width:1;
	fill:none;
}
.rect.select {
	fill: #6699ff;
}

.segment {
	stroke:#000;
	stroke-width:1;
	fill:none;
}
rect.shadow {
	fill:none;
	stroke-dasharray:5;
	stroke: blueviolet;
	pointer-events:all;
}
path.shadow {
	fill:none;
	stroke:#000;
	stroke-width:1;
}
.segment.shadow {
	stroke:none;
	stroke-width:10;
	fill:transparent;
	pointer-events:all;
}